<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
        <h1>{{'Nilai Total: ' + a}}</h1>
        <h1>{{'Rata-rata: ' + mean }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        i : 0,
        mean : 0,
      },
      methods : {
          openForm(){
              this.a = 0
              this.i = 0
              this.mean=0
              while(this.a < 10){
                //   this.b = this.a
                  this.a = Number(prompt("Masukan Nilai a"))+this.a
                  this.i += 1
                //   this.ttl = this.a +this.b
                  this.mean = this.a/this.i
                //   openForm()
                }
          }
      }
  })
  </script>
</body>
</html>