<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
      <div>
          <input class="form-control" :disabled="status == 'upload'" type="text" v-model="form.name" placeholder="Name" />
          <input class="form-control" :disabled="status == 'upload'" type="text" v-model="form.no_hp" placeholder="NO HP" />
          <input class="form-control" :disabled="status == 'upload'" type="text" v-model="form.address" placeholder="Address" />
          <br><br>
          <div v-if="status == 'add'">
              <button @click="register">Add</button>
           </div>
           <div v-else-if="status == 'edit'">
              <button @click="update">Update</button>
              <button @click="clearForm">Cancel</button>
           </div>
           <div v-else-if="status == 'upload'">
              <input class="form-control" type="file"  name="photo" ref="photo"/>
              <button @click="upload">Upload</button>
              <button @click="clearForm">Cancel</button>
           </div>
        </div>
        <br><br>
        <div>
           <member-component v-bind:data="members" v-bind:get-member=getmemberId v-bind:edit-member=edit v-bind:delete-member=hapus></member-component>
        </div>
  </div>
  <template id="table-member" >
    <table border=1>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
            <td>No_HP</td>
            <td>Photo profile</td>
            <td>Created_at</td>
            <td>Update_at</td>
        </tr>
        <tr v-for="item in data">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.no_hp}}</td>
            <td>{{item.photo_profile}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.updated_at}}</td>
            <td><button @click="GetMember(item)">Edit</button></td>
            <td><button @click ="DeleteMember(item.id)" >Delete</button></td>
            <td><button @click ="EditMember(item)">Upload Photo</button></td>
        </tr>
    </table>

  </template>
 <!-- <template id="table-member">
    <table border="1">
        <tr>
            <td>
                app
            </td>
        </tr>
    </table>
 </template> -->
 <script>
    Vue.component('MemberComponent',{
        template : "#table-member",
        //  props : {
        //         data : Array,
        //         GetMember :{
        //             type : Function,
        //                 default:()=>{ null
        //                     } 
        //             },
        //         EditMember :{
        //             type : Function,
        //                 default:()=>{ null
        //                     } 
        //             },
        //         DeleteMember :{
        //             type : Function,
        //                 default:()=>{ null
        //                     } 
        //             },
        //         },
        props :['data','GetMember','EditMember','DeleteMember']
    })
    var app = new Vue({
      el: "#app",
      data: {
        form : {},
        status : "add",
        members : null,
      },
    //   components : {
    //       'MemberComponent' : {
    //         template : "#table-member",
    //         data(){
    //             return {
    //                 member : this.members
    //             }
    //         },
    //         props : {
    //             data : Array,
    //             costumEvent :{
    //                 type : Function,
    //                     default:()=>{ null
    //                         } 
    //                 },
    //             },
    //         }
    //   },
      methods : {
          clearForm(){
              this.form.name = ""
              this.form.no_hp = ""
              this.form.address = ""
              this.status = "add"
          },
          register(){
              let formData = new FormData()
              formData.append('name', this.form.name)
              formData.append('no_hp', this.form.no_hp)
              formData.append('address', this.form.address)
              const config ={
                  method : "POST",
                  url : "http://demo-api-vue.sanbercloud.com/api/member",
                  data : formData
              }

              axios(config)
                .then((response)=>{
                    this.getmember()
                    this.clearForm()
                    alert("Register Succes")
                })
                .catch((error)=>{
                    console.log(error)
                })

          },
          getmember(){
            const config = {
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }

            axios(config)
                .then((response) => {
                    this.members = response.data.members
                    // console.log(response.data.members)
                })
                .catch((error) => {
                    console.log(error)
                })
          },
        //   getmemberId(member){
        //       this.clearForm()
        //       console.log(member)
        //       this.form = member
        //       this.status = "edit"
        //     //   this.$emit('getmemberId','data')
        //     // this.members = member
        //     // console.log(this.members)
        //     // console.log(this.members)
        //     // const config = {
        //     //     method : "get",
        //     //     url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`
        //     // }

        //     // axios(config)
        //     //     .then((response) => {
        //     //        this.members = response.data.member
        //     //     // console.log(response.data.member)
        //     //        console.log(this.members)
        //     //     })
        //     //     .catch((error) => {
        //     //         console.log(error)
        //     //     })
        //   },
          getmemberId(member) {
                    console.log(member)
                    this.clearForm()
                    // this.form = member
                    this.form = Object.assign({}, member)
                    this.status = "edit"
                },
          update(){
              let formData = new FormData()
              formData.append('name', this.form.name)
              formData.append('no_hp', this.form.no_hp)
              formData.append('address', this.form.address)
              const config = {
                  method : "POST",
                  url : `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}}`,
                  params : {_method : "PUT"},
                  data :formData
              }

              axios(config)
                .then((response)=>{
                    this.getmember()
                    this.clearForm()
                    alert("Update Succes")
                })
                .catch((error)=>{
                    console.log(error) 
                })
          },
          upload(){
              let file = this.$refs.photo.files[0]
              let formData = new FormData()
              formData.append('photo_profile', file)
            //   formData.append('no_hp', this.form.no_hp)
            //   formData.append('address', this.form.address)
              const config = {
                  method : "POST",
                  url : `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}}/upload-photo-profile`,
                  data :formData
              }

              axios(config)
                .then((response)=>{
                    // console.log(response.data)
                    this.getmember()
                    this.clearForm()
                    alert("Upload Succes")
                })
                .catch((error)=>{
                    console.log(error) 
                })
          },
          hapus(id){
              const config = {
                  method : "POST",
                  url : `http://demo-api-vue.sanbercloud.com/api/member/${id}}`,
                  params : {_method : "DELETE"}
              }
              axios(config)
                .then((response)=>{
                    this.getmember()
                    alert("Delete Succes")
                })
                .catch((error)=>{
                    console.log(error)
                })
          },
          edit(member){
              this.clearForm()
              this.form = Object.assign({}, member)
              this.status = "upload"
          },
          
        },
      created(){
          this.getmember() 
      },

    })
  </script>
</body>

</html>