<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">>
    <input type="text" v-if="dataEdit" v-model:value="dataEdit.name" />
    <input type="text" v-else v-model:value="newUser" />
    <button v-if="dataEdit" @click="updateUser(dataEdit.index)">Update</button>
    <button @click="addUser" v-else=>Add</button>
    <ul>
        <li v-for="(item, index) in users">
            {{ item.name }}
            <button @click="editUser(index)">Edit</button> | <button @click=deleteUser(index)>Delete</button>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        newUser: "",
        dataEdit:"",
        users: [
            {name : 'Muhammad iqbal Mubarrk'},
            {name : 'Ruby Purwanti'},
            {name : 'Faqih Muhammad'},
        ]
      },
      methods: {
          addUser(){
              this.users.push({name : this.newUser});
              this.newUser = "";
          },
          editUser(i){
            this.dataEdit = {name : this.users[i].name, index : i}
          },
          deleteUser(i){
              if(confirm('Anda Yakin')){
                this.users.splice(i,1)
              }
          },
          updateUser(i){
              this.users[i].name=this.dataEdit.name
              this.dataEdit = ""
          }
      }
    })
  </script>
</body>

</html>