<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aplikasi Vue #7: Direktif untuk Perulangan</title>
  <!-- Menyisipkan Vuejs dari CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- elemen kontainer untuk aplikasi -->
  <div id="app">
    <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
    <ul>
        <li v-for="item in resultQuery">
            {{ item  }}
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        searchQuery : null,
        books: [
              "Kalkulus Dasar",
              "Fisika Dasar",
              "Aljabar Linier Elementer",
              "Aljabar Abstrak",
              "Algoritma Pemrograman",
        ]
      },
      computed: {
        resultQuery(){
            if(this.searchQuery){
                return this.books.filter((item)=>{
                    return this.searchQuery.toLowerCase().split(' ').every(v  => item.toLowerCase().includes(v))
                })
            }else{
                return this.books;
            }
            // if(this.searchQuery){
            //     var i = 0
            //     collection = []
            //     while (i<this.books.length){
            //         var j = 0
            //         var list = this.books[i].toLowerCase().slice()
            //         while(j<list.length){
            //             if (list[j] == this.searchQuery){
            //                collection.push(this.books[i])
            //                break;
            //             }
            //             j++
            //         }
            //         i++
            //     } 
            //     return collection
            // } else{
            //     return this.books
            // }
        }
      }
    })
  </script>
</body>

</html>